<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">GameCart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      {{!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> --}}
      <li class="nav-item">
        <a class="nav-link" href="/shopping-cart/">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recommendations">
          <i class="fa fa-envelope" aria-hidden="true"></i> Recommendations
        </a>
      </li>
      <li class="dropdown">
        <a class="nav-link dropdown-toggle" 
        href="#" id="navbarDropdown" 
        role="button" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-user" aria-hidden="true"></i> User Management
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/signup">User Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/signin">Login</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/signup/logout">Logout</a>
        </div>
      </li>
      
       <li class="nav-item">
        <a class="nav-link" href="/shareid">
          <i class="fa fa-envelope" aria-hidden="true"></i> Share Cart
        </a>
      </li>
      
       <li class="nav-item">
        <a class="nav-link" href="/sharenavigate">
          <i class="fa fa-envelope" aria-hidden="true"></i> Shared Shopping Cart
        </a>
      </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin">
                <i class="fa fa-envelope" aria-hidden="true"></i> Admin
            </a>
        </li>
      
    </ul>
{{!--   Commenting the Search functionality right now. will see later  
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> --}}
  </div>
</nav>